<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EmployeeList</title>
</head>
<body>
<div>
<h2>Employee List</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Image</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.id}"></td>
            <td>
                <a th:href="@{/detail/{id}(id=${employee.id})}" th:text="${employee.name}"></a>
            </td>
            <td>
                <img th:src="${employee.image}" width="100" height="100" alt="Employee image">
            </td>
            <td>
                Update
            </td>
            <td>DELETE</td>
        </tr>
    </table>

</div>

</body>
</html>
